.logo_wrapper {
    display: flex;
    width: max-content;
    min-height: max-content;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    /*  */

    color: white;
    font-size: 22px;

  /*  */

  border-radius: 48px 48px 0 48px;
  background: #4208B3;
}

/*  */

.menu_container {
    display: flex;
    justify-content: space-around;
}

.menu_item {
    color: #909090;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
}

/*  */

.contact_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.contact_title {
    color: #4208B3;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
}


.contact_icon {
    width: 25px;
    margin-left: 10px;
    color: #4208B3;;
}


.contact_wrapper:hover .contact_icon {
    transform: scale(1.30);
    transition: 0.20s all ease-in-out;
    color: #d81515
}

/*  */