.footer_link {


    /*  */

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;

}

.footer_icon {
    width: 25px;
}

.footer_rights {
    font-weight: 200;
}